<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freeman.asktome">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CadastroActivity"
            android:label="Minha Conta" />
        <activity
            android:name=".activity.MenuActivity"
            android:label="Menu" />
        <activity
            android:name=".activity.NovaPalestraActivity"
            android:label="Nova Palestra" />
        <activity
            android:name=".activity.MinhaPalestraActivity"
            android:label="Minhas Palestras" />
        <activity
            android:name=".activity.ProcurarActivity"
            android:label="Procurar" />
        <activity
            android:name=".activity.FiltroActivity"
            android:label="Procurar Palestra" />
        <activity
            android:name=".activity.StreamPerguntaUsuarioActivity"
            android:label="Palestra" />
        <activity
            android:name=".activity.PerguntarActivity"
            android:label="Perguntar" />
        <activity
            android:name=".activity.StreamPerguntaPalestranteActivity"
            android:label="Palestra" />
        <activity android:label="Informações da Palestra" android:name=".InfoPalestraActivity"></activity>
    </application>

</manifest>